.navbar-organization-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.navbar-organization-channel-header-container {
    display: flex;
}

.navbar-organization-channel-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navbar-organization-channel-container li {
    cursor: pointer;
}

.navbar-organization-channel-container li :hover {
    color: rgba(245, 245, 220, 0.444);
}

.nav-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}