.register-container {
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    height: 100vh;
}
.register-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}

.register-inner-wrapper {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    border-radius: 5px;
    padding: 40px;
    width: 400px;
}

.register-inner-wrapper-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-inner-wrapper-bottom a {
    display: flex;
    justify-content: center;
    background-color: beige;
    color: rgba(0, 0, 0, 0.72) !important;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.register-button {
    background-color: beige !important;
    color: rgba(0, 0, 0, 0.72) !important;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.register-button :hover {
    background-color: azure;
}